@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Roboto-Mono, sans-serif;
    font-weight: 200;
    color: #383A2E;
}

/* headings */

h1, h2 {
    font-family: Poppins, sans-serif;
    letter-spacing: 4px;
    color: #5C3B3D;
}

#logo {
    float: left;
}

#menu {
    font-size: 110%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #383A2E;
    background-color: #CFC278;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
}
